numpy
pandas
scikit-learn
matplotlib
seaborn
psycopg[binary]
jupyter
Faker
fastapi
uvicorn[standard]
joblib
pydantic

# Jupyter environment
jupyterlab
ipykernel

# Data analysis
pandas
numpy

# Data visualization
matplotlib
seaborn

# Database
sqlalchemy
psycopg[binary]